body {
    font-family: 'Arial', sans-serif; /* Define a fonte padrão da página */
    color: black;
}



li a{
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
    cursor: pointer;
    float: right;
}

li a:hover{
    color: rgb(121, 61, 218);
}

title {
    background-color: #E75193;
}

.tab-button {
    flex: 1;
    /* Faz cada botão de aba ocupar espaço igual */
}