body {
    font-family: 'Arial', sans-serif; /* Define a fonte padrão da página */
    color: black;
}

li a{
    text-decoration: none;
    text-decoration-line: none;
    position: relative;
    width: 5%;
}

li a:hover{
    color: blue;
}

.title {
    background-color: #E75193;
}

.tab-button {
    flex: 1;
    /* Faz cada botão de aba ocupar espaço igual */
}